 <div class="about_img col-sm-12 col-md-6 col-lg-6"><img src="assets/img/iren.jpg" alt="iren" width="300px" height="300px">
  </div>
  <div class="about_text col-sm-12 col-md-6 col-lg-6">
    <h3>Hello, my friend!</h3>
    <p>My name is Iryna. I'm beginner frontend developer.</p>
    <p>I'm active and inquisitive person, I often explore new things. That's why I tried to create a web-site some time ago. Of course, my first site was not very nice and user-friendly. But I liked this process, it impressed me.Now I continue to improve my development skills.</p>
    <p>As for this site, here you can find some information about my travels and hobbies and just my thoughts about life.</p>
    <p>Welcome, my friend!</p>
  </div>

