<div class="hobby-wrapper">
  <ul class="hobby-nav navbar-nav col-lg-3 col-md-3">
    <li class="hobby-nav-item"><a class="hobby-nav-link web" [routerLink]="['web-dev']">web Development</a></li>
    <li class="hobby-nav-item"><a class="hobby-nav-link travel" [routerLink]="['travel']">Travels</a></li>
    <li class="hobby-nav-item"><a class="hobby-nav-link roller" [routerLink]="['roller-skating']">Roller-skating</a></li>
  </ul>
  <div class="hobby-content col-lg-9 col-md-9"><router-outlet></router-outlet></div>
</div>




